<layout name="layout" />
<style>
#ul_pic_list li{margin:5px;list-style-type:none;}
</style>

<div class="tab-div">
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__SELF__" method="post">
        	<!-- 基本信息 -->
            <table width="90%" class="tab_table" align="center">
                <tr>
                    <td class="label">品牌名称：</td>
                    <td><input type="text" name="brand_name" size="60" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">官方地址：</td>
                    <td><input type="text" name="site_url" size="60" /></td>
                </tr>
        <tr>
                    <td class="label">品牌logo：</td>
                    <td><input type="file" name="logo" size="60" /></td>
                </tr>
            </table>

            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
            
        </form>
    </div>
</div>



























